<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>[[title]]</title>
    	<meta name="description" content="[[description]]">
    	<meta name="keywords" content="[[keywords]]">
    	<link rel="icon" href="<%- favicon %>">
        [[custom_core_v3]]
</head>


    <body>
        <div id="template-wrap" class="slim-header">
        </div>
    </body>
</html>
